{% extends 'base.html.twig' %}

{% block title %}User Detail Page
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<p class="text-center">Autor
			<strong>
				{{author}}</strong>
		</p>

		<h4>{{user.firstname}}</h4>
		<h4>{{user.lastname}}</h4>
		<h4>{{user.password}}</h4>

	</div>
{% endblock %}
