{# templates/macro/author.macro.html.twig #}
{% macro authorBlock(author) %}
    <p class="text-center">{{ 'author' | trans }}
        <strong>
            {{ author }}</strong>
    </p>
{% endmacro %}
